In [77]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datawig

In [78]:
# Reading in the data
general_data = pd.read_csv("../population-segmentation-data/Udacity_AZDIAS_052018.csv", sep=";")
customer_data = pd.read_csv("../population-segmentation-data/Udacity_CUSTOMERS_052018.csv", sep=";")
train_data = pd.read_csv("../population-segmentation-data/Udacity_MAILOUT_052018_TRAIN.csv", sep=";")
test_data = pd.read_csv("../population-segmentation-data/Udacity_MAILOUT_052018_TEST.csv", sep=";")

In [79]:
general_data.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [80]:
# Getting the column types and seeing how many non-null values there are
general_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891221 entries, 0 to 891220
Columns: 366 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(267), int64(93), object(6)
memory usage: 2.4+ GB

In [81]:
# Storing the names of the columns that need to be encoded or transformed to ints
encode_columns = list(general_data.select_dtypes(exclude=["float64", "int64"]).columns)
print(encode_columns)

['CAMEO_DEU_2015', 'CAMEO_DEUG_2015', 'CAMEO_INTL_2015', 'D19_LETZTER_KAUF_BRANCHE', 'EINGEFUEGT_AM', 'OST_WEST_KZ']

In [83]:
# Viewing the columns that need to be converted
general_data.select_dtypes(exclude=["float64", "int64"])

,CAMEO_DEU_2015,CAMEO_DEUG_2015,CAMEO_INTL_2015,D19_LETZTER_KAUF_BRANCHE,EINGEFUEGT_AM,OST_WEST_KZ
0,NaN,NaN,NaN,NaN,NaN,NaN
1,8A,8,51,NaN,1992-02-10 00:00:00,W
2,4C,4,24,D19_UNBEKANNT,1992-02-12 00:00:00,W
3,2A,2,12,D19_UNBEKANNT,1997-04-21 00:00:00,W
4,6B,6,43,D19_SCHUHE,1992-02-12 00:00:00,W
5,8C,8,54,D19_ENERGIE,1992-02-12 00:00:00,W
6,4A,4,22,D19_UNBEKANNT,1992-02-12 00:00:00,W
7,2D,2,14,D19_UNBEKANNT,1992-02-10 00:00:00,W
8,1A,1,13,NaN,1992-02-10 00:00:00,W
9,1E,1,15,D19_KOSMETIK,1992-02-10 00:00:00,W
10,9D,9,51,D19_UNBEKANNT,1992-02-10 00:00:00,W
11,NaN,NaN,NaN,NaN,NaN,NaN
12,6B,6,43,D19_SCHUHE,2005-12-30 00:00:00,W
13,5C,5,33,D19_VOLLSORTIMENT,2009-01-19 00:00:00,W
14,NaN,NaN,NaN,NaN,NaN,NaN
15,8B,8,41,D19_UNBEKANNT,1992-02-12 00:00:00,W
16,7A,7,41,D19_SONSTIGE,1995-02-02 00:00:00,W
17,NaN,NaN,NaN,NaN,NaN,NaN
18,4C,4,24,NaN,1996-12-05 00:00:00,W
19,5D,5,34,NaN,1992-02-12 00:00:00,W
20,4C,4,24,D19_SONSTIGE,2002-03-13 00:00:00,W
21,9E,9,55,NaN,1992-02-12 00:00:00,W
22,9D,9,51,NaN,1992-02-10 00:00:00,W
23,6B,6,43,D19_BANKEN_GROSS,1992-02-12 00:00:00,W
24,NaN,NaN,NaN,NaN,NaN,NaN
25,5C,5,33,D19_UNBEKANNT,1992-02-12 00:00:00,W
26,NaN,NaN,NaN,D19_ENERGIE,2015-04-01 00:00:00,W
27,9B,9,51,D19_SCHUHE,1996-05-09 00:00:00,W
28,1A,1,13,NaN,1992-02-12 00:00:00,W
29,2A,2,12,D19_BANKEN_GROSS,2005-04-12 00:00:00,W
...,...,...,...,...,...,...
891191,6C,6,44,D19_VERSAND_REST,1992-02-10 00:00:00,W
891192,5B,5,32,NaN,1992-02-12 00:00:00,W
891193,6B,6,43,D19_BILDUNG,1992-02-12 00:00:00,W
891194,4C,4,24,D19_BUCH_CD,2000-10-04 00:00:00,W
891195,8D,8,55,D19_VOLLSORTIMENT,1992-02-10 00:00:00,W
891196,4B,4,23,D19_VOLLSORTIMENT,1993-11-03 00:00:00,W
891197,3C,3,24,D19_RATGEBER,1992-02-12 00:00:00,W
891198,2C,2,14,NaN,1992-02-12 00:00:00,W
891199,8A,8,51,NaN,1992-02-12 00:00:00,W
891200,9A,9,52,D19_UNBEKANNT,1992-02-10 00:00:00,W
891201,7A,7,41,D19_VERSAND_REST,1992-02-10 00:00:00,W
891202,8B,8,41,D19_VERSAND_REST,1992-02-10 00:00:00,W
891203,3D,3,25,D19_UNBEKANNT,2007-08-14 00:00:00,W
891204,3C,3,24,D19_TELKO_REST,1992-02-12 00:00:00,W
891205,5E,5,34,D19_UNBEKANNT,1992-02-10 00:00:00,W
891206,3D,3,25,D19_UNBEKANNT,1992-02-10 00:00:00,W
891207,7A,7,41,D19_UNBEKANNT,1992-02-10 00:00:00,W
891208,2C,2,14,D19_UNBEKANNT,1997-10-13 00:00:00,W
891209,8A,8,51,D19_TELKO_REST,1992-02-10 00:00:00,W
891210,8B,8,41,D19_WEIN_FEINKOST,1992-02-12 00:00:00,W
891211,9D,9,51,D19_UNBEKANNT,1992-02-12 00:00:00,W
891212,9D,9,51,NaN,1992-02-12 00:00:00,W
891213,5E,5,34,D19_VERSICHERUNGEN,1992-02-10 00:00:00,W
891214,3A,3,23,D19_UNBEKANNT,1992-02-10 00:00:00,W
891215,5A,5,31,NaN,1992-02-10 00:00:00,W
891216,7A,7,41,D19_HAUS_DEKO,1992-02-10 00:00:00,W
891217,9D,9,51,D19_UNBEKANNT,1992-02-10 00:00:00,W
891218,4C,4,24,D19_BEKLEIDUNG_GEH,1992-02-10 00:00:00,W
891219,9D,9,51,D19_UNBEKANNT,1992-02-12 00:00:00,W
891220,6B,6,43,NaN,1992-02-10 00:00:00,W

In [84]:
# Transforming the CAMEO DEUG and INTL columns to integers so that they can be used in ml algorithms

# Mapping the columns that need to be transformed to the type they will be transformed to
cameo_transform = {'CAMEO_DEUG_2015': 'int64', 'CAMEO_INTL_2015': 'int64'}
general_data = general_data.astype(cameo_transform)
general_data = general_data.astype(cameo_transform)
general_data = general_data.astype(cameo_transform)
general_data = general_data.astype(cameo_transform)

ValueError: cannot convert float NaN to integer

In [73]:
# Finding all the columns whose values are more than 25% null so they can be removed
null_columns = []
# The maximum amount of null values allowed
max_nulls = 0.25 * len(train_data)
for column in train_data:
    # Finding the number of null values in the columns
    count_nulls = len(train_data) - train_data[column].count()
    # Add to the null_columns list if more than 30% of the values are null
    if count_nulls > max_nulls:
        null_columns.append(column)
print(null_columns)
# Adding the LNR and EINGEFUEGT_AM columns to the list of columns that will be removed
null_columns.append("LNR")
null_columns.append("EINGEFUEGT_AM")

['ALTER_KIND1', 'ALTER_KIND2', 'ALTER_KIND3', 'ALTER_KIND4', 'EXTSEL992', 'KK_KUNDENTYP']

In [74]:
# Removing the columns with too many null values from each dataframe
general_data.drop(labels=null_columns, axis=1, inplace=True)
customer_data.drop(labels=null_columns, axis=1, inplace=True)
train_data.drop(labels=null_columns, axis=1, inplace=True)
test_data.drop(labels=null_columns, axis=1, inplace=True)

In [75]:
# Checking if the columns have been removed
general_data.shape

(891221, 358)

In [76]:
# Checking how many null values are left in the dataset
print(train_data.isnull().values.sum())
print(train_data.shape)

1999249
(42962, 359)

In [51]:
# Encoding the non-int and non-float columns
# importing the encoder
from sklearn.preprocessing import OrdinalEncoder
def encode_columns(df, columns):
    """
    Encodes the string values in specified columns to integers so that they can be used in imputation and ml models
    param df: A dataframe with columns
    param columns: A list of the names of columns that wil be removed
    return: A dataframe with all the string values encoded as integers
    """