In [1]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
# Reading in the data
general_data = pd.read_csv("../population-segmentation-data/Udacity_AZDIAS_052018.csv", sep=";")
customer_data = pd.read_csv("../population-segmentation-data/Udacity_CUSTOMERS_052018.csv", sep=";")
train_data = pd.read_csv("../population-segmentation-data/Udacity_MAILOUT_052018_TRAIN.csv", sep=";")
test_data = pd.read_csv("../population-segmentation-data/Udacity_MAILOUT_052018_TEST.csv", sep=";")

In [21]:
general_data.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [32]:
# Finding all the columns whose values are more than 25% null so they can be removed
null_columns = []
# The maximum amount of null values allowed
max_nulls = 0.25 * len(train_data)
for column in train_data:
    # Finding the number of null values in the columns
    count_nulls = len(train_data) - train_data[column].count()
    # Add to the null_columns list if more than 30% of the values are null
    if count_nulls > max_nulls:
        null_columns.append(column)
print(null_columns)

['ALTER_KIND1', 'ALTER_KIND2', 'ALTER_KIND3', 'ALTER_KIND4', 'EXTSEL992', 'KK_KUNDENTYP']